*
			{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			body
			{
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 100vh;
				background: #000;
				overflow: hidden;
			}
			.container
			{
				position: relative;
				width: 100%;
				transform: rotate(-35deg);
			}
			.container .box
			{
				position: relative;
				left: -100px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: clac(100% + 400px);
				-webkit-box-reflect: below 1px linear-gradient( transparent, #000);
				animation: animatesurface 1.5s ease-in-out infinite;

			}
			@keyframes animatesurface
			{
				0%
				{
					transform: translateX(0);
				}
				100%
				{
					transform: translateX(-200px);
				}
			}
			.container .box .cube
			{
				position: relative;
				width: 200px;
				height: 200px;
				background: #ffffff;
				box-shadow: 0 0 5px rgb(244, 239, 255),
				0 0 25px rgb(243, 221, 255),
				0 0 50px rgb(250, 209, 255),
				0 0 150px rgb(218, 173, 255)
		;
				transform-origin: bottom right;
				animation: animate 1.5s  ease-in-out infinite;
			}
			@keyframes animate
			{
				0%
				{ 
					transform: rotate(0deg);
					
				}
				60%,70%,80%,100%
				{
					transform: rotate(90deg);
				
				}
				65%
				{
					transform: rotate(85deg);
				}
				75%
				{
					transform: rotate(87.5deg);
				}
			}

